header {
    text-align: center;
    background-color: rgb(87, 172, 221);
}
.container {
    padding-top: 2em;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.card {
    margin: auto;
}
section h4 {
    text-align: center;
    padding-top: 1em;
}
.bs-example{
    margin: 50px 50px;
    text-align: center;
    }
footer{
    margin-top: auto;
    text-align: center;
    padding: 3px;
    background-color: rgb(87, 172, 221);
    color: white;
}